.footer {
  grid-area: footer;
  background-color: $color-footer;
  display: flex;
  justify-content: center;
  text-align: center;
  div {
    margin-top: 10px;
    margin-bottom: 10px;
    p {
      margin: 5px 0px 5px 0px;
      color: $color-txt-header-footer;
      font-size: $font-xs;
      font-family: $fuente-parrafos;
    }
    a {
      margin: 0px;
      i {
        font-size: $font-xl;
        text-decoration: none;
        color: $color-txt-header-footer;
        align-self: center;
        margin-top: 15px;
        &:hover {
          color: $color-boton;
        }
      }
    }
  }
}
