// colores
$color-main: rgb(213, 235, 223);
$color-header: rgb(38, 71, 83);
$color-footer: rgb(43, 158, 142);
$color-txt: rgb(38, 71, 83);
$color-txt-header-footer: rgb(255, 255, 255);
$color-boton: rgb(231, 197, 107);
// FUENTES
$fuente-titulos: "Londrina Solid", cursive;
$fuente-parrafos: "Noto Serif Ottoman Siyaq", serif;
// TAMAÑO FUENTES
$font-xxs: 0.5rem;
$font-xs: 0.7rem;
$font-s: 0.85rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxlg: 2.5rem;
$font-xxxl: 3rem;
// BACKGROUNG IMG
$img-index: url(../assets/images/jugo_detox.jpg);
// RESPONSIVE
$vista: mobile;
